html{
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
}
body{
    margin: 0;
    background: #594237;
    color: #594237;
    font: 400 1em/1.5 'poppins';
    
}
h1{
    font-family: 'gotu';
    font-size: 2.5em;
}
h3 {
    font-size: 30px;
}
h2, h3, h4{
    font-family: 'gotu';
}
.container{
    margin: 0 auto;
    max-width: 60em;
    padding: 0;
    margin-top: 1em;
}
header h1{
    font-size: 3em;
    margin: .5em 0;
    text-align: left;
}
.midja {
    background: #BA6336;
    padding: 1em;
    background-size: cover;
    background-position: center;
    background-attachment: local;
}
.textbox {
    background-color: #AAB197;
    border-radius: 20px;
    padding: 20px;
}

.col-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.col-3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    color: #594237;
}
.col-3 a{
    color: #594237;
}
.col-3 a:hover {
    background-color: #AAB197;
    color: #BA6336;
}
.col-4{
    display: grid;
    grid-template-columns: repeat(4,1fr);

}
.col-5{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
}.col-5 a{
    color: #594237;
}
.col-5 a:hover {
    background-color: #AAB197;
    color: #BA6336;
}
.gap {
    grid-gap: 4em;
}
.textcolor{
    color: #AAB197;
    margin-top: 5em;
}
.textcolor a{
    color: #AAB197;
}
.textcolor a:active, a:hover {
    color: #E79E58;
}

.verkefni{
    padding-right: 5em;
    margin-top: 2em;
    text-align: right;
    color: #AAB197;
}
.forsida {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3em 1em;
}
.circle{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4fr 1fr;
    align-items: center;
    border-radius: 50%;
    width: 40em;
    height: 40em;
    background: #AAB197;
    text-align: center;
}
.circle h1{
    font-family: 'Gotu';
    /* color: #B47A41; */
    font-size: 5em;
    line-height: .8em;
    margin: 1em 0 0 0;
}
.frikka{
    display: grid;
    border: 0;
    margin-bottom: 2em;
}
.frikka h1{
    font-family: 'Poppins';

    font-size: 6em;
    margin: 0;
    text-align: center;
}
.takki{
    display: block;
    width: 8em;
    margin: -3.8em auto 0 auto;
    color: #594237;
    border: 2px solid #594237;
    border-radius: .4em;
    padding: .5em;
    background-color: #AAB197;
}
.takki a:active, a:hover {
    background-color: #594237;
}
.blockqoute{
    background: #E79E58;
    color: #594237;
    font-size: 1,5em;
    border-radius: 10px;
}

.topbutt{
    background-color: #AAB197;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    border: 4px solid #594237;
    color: #594237;
    font-size: 2.5em;
    display: block;
    margin: auto;
    margin-top: 13px;
    width: 1.5em;
}
.topbutt:active, .topbutt:hover{
    background-color: #594237;
    color: #E79E58;
}
.margintop {
    font-size: 2.5em;
}
.copy{
    text-align: center;
    color: #AAB197;
}
img {
    max-width: 100%;
    height: auto;
}